<div class="buton-container">
  <button (click)="showAllCars()" mat-raised-button color="primary">Todos los coches</button>
  <button (click)="showAllAvaliableCars()" mat-raised-button color="primary">Todos los coches Disponibles</button>
  <button (click)="addCarForm()" mat-raised-button color="primary">Añadir nuevo coche</button>
</div>
<div *ngIf="(cars && showCars)" class="container">
    <div *ngFor="let car of cars">
      <div [class]="{selected : isCarSelected == true }">
        <mat-card>
          <mat-card-header>
            <mat-card-title>
              <div class="container">
                <div [class]="(car.maker).toLowerCase()"></div>	
                <h2>{{car.model}}</h2>
              </div>
              <img [class]="car.energyTypeIconClass">
            </mat-card-title>
          </mat-card-header>
          <mat-card-actions>
            <button (click)="carDetail(car)" mat-raised-button color="primary"> Ver Detalles </button>
          </mat-card-actions>
          <mat-card-footer></mat-card-footer>
        </mat-card>
      </div>
    </div>
</div>
<app-car-detail *ngIf="isSelectedCar" [car]="selectedCar" (notification)="notificationEvent($event)" (lockCar)="lockCarEvent($event)"></app-car-detail>
<app-car-form *ngIf="showCarForm"></app-car-form>
<div class="buton-container">
  
</div>
<app-notifications [notification]="message"></app-notifications>