<div class="container">
  
    <div *ngFor="let car of cars">
      <div *ngIf="car.isAvailable">
    <mat-card>
      <mat-card-header>
		<div [ngSwitch]="car.maker">
			<div *ngSwitchCase="Peugeot">
				<div mat-card-avatar class="brand-Peugeot"></div>
			</div>
		</div>
        
      </mat-card-header>
      <mat-card-title>	{{car.model}} </mat-card-title>
      <mat-card-subtitle> -------------------- </mat-card-subtitle>
      <mat-card-content>	
        <div>
          <ul style="list-style:none; padding:0px">
            <li>Combustible : {{car.energyType}}</li>
            <li>Kilometros : {{car.kms}}</li>
            <li>Precio/dia : {{car.pricePerDay}}</li>
            <li>Maximo km/dia : {{car.maxKmsPerDay}}</li>
            <li>Deposito : {{car.depositFee}}</li>
          </ul>
        </div>    
      </mat-card-content>
      <img mat-card-image src="">
      <mat-card-actions><button routerLink="/users" mat-raised-button color="primary">Ver coche..</button></mat-card-actions>
      <mat-card-footer></mat-card-footer>
    </mat-card>
    	</div>
    </div>
  
</div>
