<div class="container">
  <mat-card>
    <form class="car-form" [formGroup]="car">
      <mat-form-field class="field-full-width">
        <input matInput placeholder="Nº Bastidor" disabled value="">
      </mat-form-field>
      <mat-form-field class="field-full-width">
        <input matInput placeholder="id" disabled formControlName="id">
      </mat-form-field>
      <table class="field-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="field-full-width">
              <input matInput placeholder="Fabricante" formControlName="maker">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="field-full-width">
              <input matInput placeholder="Modelo" formControlName="model">
            </mat-form-field>
          </td>
        </tr>
      </table>
      <table class="field-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="field-full-width">
              <input matInput placeholder="Combustible" formControlName="energyType">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="field-full-width">
              <input matInput placeholder="kms" formControlName="kms">
            </mat-form-field>
          </td>
        </tr>
      </table>
      <table class="field-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="field-full-width">
              <input matInput placeholder="Precio por dia" formControlName="pricePerDay">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="field-full-width">
              <input matInput placeholder="Máximo kilometros dia" formControlName="maxKmsPerDay">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field class="field-full-width">
              <input matInput placeholder="Fianza" maxlength="5" value="" formControlName="depositFee">
            </mat-form-field>
          </td>
        </tr>
      </table>
      <p>
        <mat-form-field class="field-full-width">
          <textarea matInput placeholder="Observaciones" formControlName="observations"></textarea>
        </mat-form-field>
      </p>
      <mat-card-actions>
        <button (click)="addCar()" mat-raised-button color="primary">Añadir</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>