<div class="detail-container">
    <mat-card>
    <mat-card-header>
      <div mat-card-avatar class=""></div>
    </mat-card-header>
    <mat-card-title>	{{user.id}} - {{user.name}} - {{user.lastName}} </mat-card-title>
    <mat-card-subtitle> -------------------- </mat-card-subtitle>
      <mat-card-content>	
        <div>
          <ul style="list-style:none; padding:0px">
            <li>Nº Licencia : {{user.drivingLicense}}</li>
            <li>Fecha Nacimiento : {{user.birthDate}}</li>
            <li>Dirección : {{user.address}}</li>
            <li>Ciudad : {{user.city}}</li>
            <li>Codigo postal : {{user.postalCode}}</li>
            <li>Observaciones : {{user.observations}}</li>
          </ul>
        </div>
        <img [class]="user">    
      </mat-card-content>
      <img mat-card-image src="">
    <mat-card-actions>
        <button (click)="doStuff()" mat-raised-button color="primary">Modificar</button>
        <button (click)="doStuff()" mat-raised-button color="primary">Eliminar</button>
    </mat-card-actions>
    <mat-card-footer></mat-card-footer>
  </mat-card>
</div>