<div class="buton-container">
  <button (click)="getAllUsers()" mat-raised-button color="primary">Todos los Usuarios</button>
  <button (click)="addUserForm()" mat-raised-button color="primary">Añadir nuevo Usuario</button>
</div>
<div *ngIf="users && showUsers" class="model-container">
    <div *ngFor="let user of users">
      <div [class]="{selected : isUserSelected == true }">
        <mat-card>
          <mat-card-header>
            <mat-card-title>
              <div class="data-container">
                <h2>{{user.name}}</h2>
                <p> {{user.lastName}}</p>
              </div>
              <img [class]="">
            </mat-card-title>
          </mat-card-header>
          <mat-card-actions>
            <button (click)="userDetail(user)" mat-raised-button color="primary"> Ver Detalles </button>
          </mat-card-actions>
          <mat-card-footer></mat-card-footer>
        </mat-card>
      </div>
    </div> 
</div>
<app-user-detail *ngIf="isSelectedUser" [user]="selectedUser" (userToForm)="editUserEvent($event)" (showUserForm)="showUserFormEvent($event)" (showUserDetail) = "deleteUserEvent($event)"></app-user-detail>
<app-user-form *ngIf="showUserForm" (showUserForm)="showUserFormEvent($event)" [user]= "selectedUser" [isNewUser]="isNewUser"></app-user-form>
<div class="buton-container">
  
</div>
